@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #fff4f4, #acb6e5);
    text-align: center; 
    
}

#button{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;

}

a{
    text-decoration: 0;
    border: 10px;
    color: white;
    background-color: rgb(136, 136, 136);
    padding: 10px 30px;
    border-radius: 10px;
}
a:hover{
    color: rgb(33, 42, 51);
}