@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    text-align: center; 
}
.opcoes{
    /* display: flex; */
    margin: auto;
    width: 100%;
    
}

.opcoes button {
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(117, 117, 117);
    margin: 5px; padding: 10px;
    color: white;
    font-size: larger;
    
    
}

.opcoes button:hover{
    background-color: rgb(170, 169, 169);

}

#imagem{
    height: 300px;
    width: 400px;
}

#feedback{
    color: green;
    font-size: larger;
    font-weight: 600;
}

#points{
    
    font-size: 120px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}