/* gamemath.css */

body {
    min-height: 100vh; 
    margin: 0;
    padding: 0; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(to top right, #f9fbe7, #b2ebf2);
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;      /* Exatamente 100% da largura da viewport */
    height: 100vh;     /* Exatamente 100% da altura da viewport */
    overflow: hidden;  /* Remove barras de rolagem */
}

#container {
    background: linear-gradient(to top right, #d7f9fd, #dafbff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
                0 6px 20px rgba(0, 0, 0, 0.19);
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: #f57c00;
    font-size: 36px;
    margin-top: 20px;
    text-shadow: 2px 2px 0 #fff;
}

h2 {
    font-size: 32px;
    color: #00796b;
    margin: 20px 0;
    font-weight: bold;
}

.opcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

button {
    font-size: 20px;
    padding: 15px 30px;
    background-color: #aed581;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 4px 0 #689f38;
    transition: transform 0.2s, background-color 0.3s;
}

button:hover {
    background-color: #689f38;
    transform: scale(1.1);
}

#life {
    font-size: 50px;
    color: red;
    margin-top: 20px;
}

#feedback {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    color: #303f9f;
}
